.project {
    border: 2px solid black;
    height: 200px;
    width: 200px;
    margin: 10px 10px 10px 10px;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: left;
    position: relative;
}

a:hover .title {
    background-color: lightgray;
}

a {
    text-decoration: none;
    color: black;
}

.title {
    background-color: white;
    height: fit-content;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    overflow-wrap: break-word;
    bottom: 0;
    position: absolute;
    font-family: "Segoe UI";
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
