.project {
    border: 2px solid black;
    height: 200px;
    width: 200px;
    margin: 10px 10px 10px 10px;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: left;
    position: relative;
}

a:hover .title {
    background-color: lightgray;
}

a {
    text-decoration: none;
    color: black;
}

.title {
    background-color: white;
    height: fit-content;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    overflow-wrap: break-word;
    bottom: 0;
    position: absolute;
    font-family: "Segoe UI";
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:not(:checked) + div + div {
    display: none;
}

input[type="checkbox"]:checked + div {
    display: none;
}

input[type="checkbox"]:not(:checked) {
    display: none;
}

h2:has(input:checked) + div {
    display: none;
}

label div {
    display: inline;
    background-color: rgb(255, 214, 186);
    padding: 3px 7px 3px 7px;
    border: 1px solid black;
}

label div:hover {
    background-color: rgb(255, 179, 128);
    cursor: pointer;
}

h2 {
    clear: left;
}
