#header {
    background-color: rgb(255, 214, 186);
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#header > p {
    float: left;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 0 0 10px;
    padding: 0;
    height: 50px;
    line-height: 50px;
}

#header > a > button {
    height: 50px;
    padding: 10px;
    float: left;
    border: none;
    background-color: rgb(255, 179, 128);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#header > a > button:hover {
    background-color: rgb(160, 160, 160);
    cursor: pointer;
}

body {
    margin-top: 70px;
}

h1 {
    font-family: Georgia;
    font-weight: 100;
}